<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cc_frontend_extension>
            <configuration>
                <custom_url>ccci</custom_url>
            </configuration>
            <instagram_component>
                <access_token_refresh_threshold>3</access_token_refresh_threshold>
                <access_token_enable_auto_refresh>0</access_token_enable_auto_refresh>
                <media_api_url><![CDATA[https://graph.instagram.com/%d/media?fields=media_type,media_url,permalink,timestamp&access_token=%s&limit=50]]></media_api_url>
                <user_id_api_url><![CDATA[https://graph.instagram.com/me?fields=id&access_token=%s]]></user_id_api_url>
                <refresh_access_token_url><![CDATA[https://graph.instagram.com/refresh_access_token?grant_type=ig_refresh_token&access_token=%s]]></refresh_access_token_url>
            </instagram_component>
            <preload_image>
                <enabled>0</enabled>
            </preload_image>
        </cc_frontend_extension>
    </default>
</config>
