<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cc_frontend_extension>
            <instagram_component>
                <media_api_url><![CDATA[https://graph.instagram.com/%d/media?fields=media_type,media_url,permalink,timestamp&access_token=%s&limit=50]]></media_api_url>
                <user_id_api_url><![CDATA[https://graph.instagram.com/me?fields=id&access_token=%s]]></user_id_api_url>
            </instagram_component>
        </cc_frontend_extension>
    </default>
</config>
