<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\ContentConstructor\View\TemplateLocator" type="MageSuite\ContentConstructorFrontend\Template\Locator" />

    <preference for="MageSuite\ContentConstructor\Service\MediaResolver" type="MageSuite\ContentConstructorFrontend\Service\MediaResolver" />

    <preference for="MageSuite\ContentConstructor\Service\UrlResolver" type="MageSuite\ContentConstructorFrontend\Service\UrlResolver" />

    <preference for="MageSuite\ContentConstructor\View\Template" type="MageSuite\ContentConstructorFrontend\Template\Twig" />

    <preference for="MageSuite\ContentConstructor\ComponentSupport"
                type="\MageSuite\ContentConstructorFrontend\Config\DefaultComponentSupport" />

    <preference for="MageSuite\ContentConstructor\Components\Navigation\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\NavigationDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\ProductCarousel\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\ProductCarouselDataProvider" />

    <preference for="MageSuite\ContentConstructorFrontend\DataProviders\AdditionalProductDataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\EmptyAdditionalProductDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\BrandCarousel\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\BrandDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\CategoryLinks\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\CategoryLinksDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\Button\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\ButtonDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\CmsTeaser\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\CmsTeaserDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\ProductFinder\EndpointUrlProvider"
                type="MageSuite\ContentConstructorFrontend\Service\ProductFinder\Redirect\EndpointUrlProvider" />

    <preference for="MageSuite\ContentConstructor\Components\DailyDealTeaser\DataProvider"
                type="MageSuite\ContentConstructorFrontend\DataProviders\DailyDealTeaserDataProvider" />

    <preference for="MageSuite\ContentConstructor\Service\ProductTileRenderer"
                type="MageSuite\ContentConstructorFrontend\Service\ProductTileRenderer" />

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="creativestyle_add_product_object_to_image_data_array" type="MageSuite\ContentConstructorFrontend\Model\Plugin\ProductImage"/>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="add_product_object_to_image_data_array" type="Smile\ElasticsuiteSwatches\Model\Plugin\ProductImage" disabled="true"/>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="add_product_object_to_image_data_array" type="Magento\Swatches\Model\Plugin\ProductImage" disabled="true"/>
    </type>

    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="redirect_if_one_result"
                type="MageSuite\ContentConstructorFrontend\Plugin\ProductFinder\RedirectWhenOnlyOneResultWasFound"/>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Model\Plugin\ProductImage">
        <arguments>
            <argument name="swatchesHelperData" xsi:type="object">Smile\ElasticsuiteSwatches\Helper\Swatches</argument>
        </arguments>
    </type>

    <type name="\MageSuite\ContentConstructorFrontend\Model\Filter\Pool">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="new_products" xsi:type="object">MageSuite\ContentConstructorFrontend\Model\Filter\NewProducts</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ImageTeaser">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ImageTeaser</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\HeroCarousel">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\HeroCarousel</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\CategoryLinks">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\CategoryLinks</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Button">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Button</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\BrandCarousel">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\BrandCarousel</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\CmsTeaser">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\CmsTeaser</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Paragraph">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Paragraph</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductGrid">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductGrid</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductCarousel">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductCarousel</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductFinder">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductFinder</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Headline">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Headline</item>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\StaticBlock">
        <arguments>
            <item name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\StaticBlock</item>
        </arguments>
    </type>
    
    <type name="MageSuite\ContentConstructorFrontend\Service\ComponentPool">
        <arguments>
            <argument name="components" xsi:type="array">
                <item name="headline" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Headline</item>
                <item name="static-cms-block" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\StaticBlock</item>
                <item name="paragraph" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Paragraph</item>
                <item name="product-carousel" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductCarousel</item>
                <item name="hero-carousel" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\HeroCarousel</item>
                <item name="brand-carousel" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\BrandCarousel</item>
                <item name="image-teaser" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ImageTeaser</item>
                <item name="button" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Button</item>
                <item name="category-links" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\CategoryLinks</item>
                <item name="separator" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Separator</item>
                <item name="product-grid" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductGrid</item>
                <item name="custom-html" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\CustomHtml</item>
                <item name="cms-teaser" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\CmsTeaser</item>
                <item name="product-finder" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductFinder</item>
            </argument>
        </arguments>
    </type>
</config>
