<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageSuite\ContentConstructorFrontend\Api\ComponentSupportInterface" type="MageSuite\ContentConstructorFrontend\Config\DefaultComponentSupport" />

    <preference for="MageSuite\ContentConstructorFrontend\DataProviders\AdditionalProductDataProvider" type="MageSuite\ContentConstructorFrontend\DataProviders\EmptyAdditionalProductDataProvider" />


    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="non_migrated_image_teaser_finder" xsi:type="object">MageSuite\ContentConstructorFrontend\Console\Command\ImageTeaserNotMigrationCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="creativestyle_add_product_object_to_image_data_array" type="MageSuite\ContentConstructorFrontend\Model\Plugin\ProductImage"/>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="add_product_object_to_image_data_array" type="Smile\ElasticsuiteSwatches\Model\Plugin\ProductImage" disabled="true"/>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="add_product_object_to_image_data_array" type="Magento\Swatches\Model\Plugin\ProductImage" disabled="true"/>
    </type>

    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="redirect_if_one_result" type="MageSuite\ContentConstructorFrontend\Plugin\ProductFinder\RedirectWhenOnlyOneResultWasFound"/>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Model\Plugin\ProductImage">
        <arguments>
            <argument name="swatchesHelperData" xsi:type="object">Smile\ElasticsuiteSwatches\Helper\Swatches</argument>
        </arguments>
    </type>

    <type name="\MageSuite\ContentConstructorFrontend\Model\Filter\Pool">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="new_products" xsi:type="object">MageSuite\ContentConstructorFrontend\Model\Filter\NewProducts</item>
                <item name="daily_deal" xsi:type="object">MageSuite\ContentConstructorFrontend\Model\Filter\DailyDeal</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ImageTeaserLegacy">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ImageTeaserLegacy</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\HeroCarousel">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\HeroCarousel</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\CategoryLinks">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\CategoryLinks</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Button">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Button</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\BrandCarousel">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\BrandCarousel</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\CmsTeaser">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\CmsTeaser</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Paragraph">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Paragraph</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductGrid">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductGrid</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductCarousel">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductCarousel</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductFinder">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductFinder</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Headline">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Headline</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\StaticBlock">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\StaticBlock</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\DailyDealTeaser">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\DailyDealTeaser</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ImageTeaser">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ImageTeaser</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Icon">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Icon</argument>
        </arguments>
    </type>
    <type name="MageSuite\ContentConstructorFrontend\Block\Component\TeaserAndText">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\TeaserAndText</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\InstagramFeed">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\InstagramFeed</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Mosaic">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Mosaic</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\Accordion">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\Accordion</argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\ProductTeaser">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Component\ProductTeaser</argument>
        </arguments>
    </type>


    <type name="MageSuite\ContentConstructorFrontend\Service\ComponentPool">
        <arguments>
            <argument name="components" xsi:type="array">
                <item name="headline" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Headline</item>
                <item name="static-cms-block" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\StaticBlock</item>
                <item name="paragraph" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Paragraph</item>
                <item name="product-carousel" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductCarousel</item>
                <item name="hero-carousel" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\HeroCarousel</item>
                <item name="brand-carousel" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\BrandCarousel</item>
                <item name="image-teaser" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ImageTeaserLegacy</item>
                <item name="image-teaser-2" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ImageTeaser</item>
                <item name="button" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Button</item>
                <item name="category-links" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\CategoryLinks</item>
                <item name="separator" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Separator</item>
                <item name="product-grid" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductGrid</item>
                <item name="custom-html" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\CustomHtml</item>
                <item name="cms-teaser" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\CmsTeaser</item>
                <item name="product-finder" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductFinder</item>
                <item name="daily-deal-teaser" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\DailyDealTeaser</item>
                <item name="icon" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Icon</item>
                <item name="teaser-and-text" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\TeaserAndText</item>
                <item name="instagram-feed" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\InstagramFeed</item>
                <item name="mosaic" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Mosaic</item>
                <item name="accordion" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\Accordion</item>
                <item name="product-teaser" xsi:type="string">MageSuite\ContentConstructorFrontend\Block\Component\ProductTeaser</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\DynamicDirectives\Model\Pool">
        <arguments>
            <argument name="directives" xsi:type="array">
                <item name="price" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Directive\Directives\Product\Price</item>
                <item name="discountPercentage" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Directive\Directives\Product\DiscountPercentage</item>
                <item name="store" xsi:type="string">MageSuite\ContentConstructorFrontend\Model\Directive\Directives\Store</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Block\Component\AbstractComponent">
        <plugin name="resolve_directives" type="MageSuite\ContentConstructorFrontend\Plugin\Block\Component\AbstractComponent\ResolveDirectives" />
    </type>

    <type name="Magento\Cms\Model\Block">
        <plugin name="cms_block_render_content_constructor_components" type="MageSuite\ContentConstructorFrontend\Plugin\Cms\Model\Block\RenderContentConstructorComponents" />
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Service\EntityIdentitiesResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="cms_index_index" xsi:type="object">MageSuite\ContentConstructorFrontend\Service\EntityIdentityResolvers\CmsPage</item>
                <item name="cms_page_view" xsi:type="object">MageSuite\ContentConstructorFrontend\Service\EntityIdentityResolvers\CmsPage</item>
                <item name="catalog_category_view" xsi:type="object">MageSuite\ContentConstructorFrontend\Service\EntityIdentityResolvers\Category</item>
                <item name="catalog_product_view" xsi:type="object">MageSuite\ContentConstructorFrontend\Service\EntityIdentityResolvers\Product</item>
                <item name="brands_index_index" xsi:type="object">MageSuite\ContentConstructorFrontend\Service\EntityIdentityResolvers\Brand</item>
            </argument>
        </arguments>
    </type>

</config>
