<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_render">
        <observer name="add_layout_update_to_cache_key" instance="MageSuite\ContentConstructorFrontend\Observer\AddLayoutUpdateToLayoutCacheKey" />
    </event>
    <event name="catalog_controller_product_view">
        <observer name="add_layout_update_to_cache_key" instance="MageSuite\ContentConstructorFrontend\Observer\Product\AddLayoutUpdateToLayoutCacheKey" />
    </event>
</config>
