<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Product\View">
        <plugin name="add_xml_layout_update" type="MageSuite\ContentConstructorFrontend\Plugin\Catalog\Helper\Product\AddConstructorContentToLayout" sortOrder="1" />
    </type>

    <type name="Magento\Framework\App\Response\Http">
        <plugin name="remove_duplicated_css" type="MageSuite\ContentConstructorFrontend\Plugin\Theme\Controller\Result\RemoveDuplicatedCss"/>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Service\CmsPreloadImageResolver">
        <arguments>
            <argument name="allowedComponents" xsi:type="array">
                <item name="0" xsi:type="string">hero-carousel</item>
                <item name="1" xsi:type="string">image-teaser-2</item>
                <item name="2" xsi:type="string">mosaic</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Helper\Category">
        <arguments>
            <argument name="productCollectionFactory" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory</argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\Block">
        <plugin name="cms_block_render_content_constructor_components" type="MageSuite\ContentConstructorFrontend\Plugin\Cms\Model\Block\RenderContentConstructorComponents" />
    </type>

    <type name="Magento\Cms\Model\Page">
        <plugin name="change_content_return_type" type="MageSuite\ContentConstructorFrontend\Plugin\Cms\Model\Page\ChangeContentReturnType" />
    </type>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="customRoute" xsi:type="array">
                    <item name="class" xsi:type="string">MageSuite\ContentConstructorFrontend\Controller\ComponentsListShortUrlRouter</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">40</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ContentConstructorFrontend\Controller\ComponentsListShortUrlRouter">
        <arguments>
            <argument name="customUrl" xsi:type="string">ccci</argument>
        </arguments>
    </type>
</config>
