<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="cc_frontend_extension" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Content Constructor</label>
            <tab>magesuite</tab>
            <resource>MageSuite_ContentConstructorFrontend::content_constructor</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable_component_list_page" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable components list test page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_alphabetically" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Sort subcategories alphabetically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="instagram_component" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instagram Data Feed Component Configuration</label>
                <field id="access_token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                </field>
                <field id="access_token_enable_auto_refresh" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Access Token Auto Refresh</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="access_token_expiration_date" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token Expiration Date</label>
                    <frontend_model>MageSuite\ContentConstructorFrontend\Block\System\Config\Form\Field\Disabled</frontend_model>
                    <depends>
                        <field id="access_token_enable_auto_refresh">1</field>
                    </depends>
                </field>
                <field id="access_token_refresh_threshold" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Access Token Refresh Threshold</label>
                    <comment>Refresh access token X day(s) before expiration</comment>
                    <depends>
                        <field id="access_token_enable_auto_refresh">1</field>
                    </depends>
                </field>
                <field id="refresh_access_token_url" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Refresh Access Token Url</label>
                    <depends>
                        <field id="access_token_enable_auto_refresh">1</field>
                    </depends>
                </field>
                <field id="user_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User ID</label>
                </field>
                <field id="media_api_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Media Api Url</label>
                </field>
                <field id="user_id_api_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>User ID Api Url</label>
                </field>
            </group>
            <group id="preload_image" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CMS Preload Image</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[When enabled, it preloads first image from Image Teaser, Hero or Mosaic component on CMS page - <a href="https://web.dev/optimize-lcp/#preload-important-resources" target="_blank" rel=”noopener”>Read more</a>]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
