<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="cc_frontend_extension" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Content Constructor</label>
            <tab>magesuite</tab>
            <resource>MageSuite_ContentConstructorFrontend::content_constructor</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable_component_list_page" translate="label" type="select" sortOrder="10" showInDefault="1" >
                    <label>Enable components list test page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_alphabetically" translate="label" type="select" sortOrder="20" showInDefault="1" >
                    <label>Sort subcategories alphabetically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="instagram_component" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instagram Data Feed Component Configuration</label>
                <field id="access_token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Access Token</label>
                </field>
            </group>
        </section>
    </system>
</config>