<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="cc_frontend_extension" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Content Constructor</label>
            <tab>magesuite</tab>
            <resource>MageSuite_ContentConstructorFrontend::content_constructor</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable_component_list_page" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable components list test page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_alphabetically" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Sort subcategories alphabetically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_url" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Custom Url</label>
                    <comment>Default short URL is "ccci" you can provide different value here.</comment>
                </field>
            </group>
            <group id="instagram_component" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instagram Data Feed Component Configuration</label>
                <field id="client_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="authorize" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authorize Instagram</label>
                    <frontend_model>MageSuite\ContentConstructorFrontend\Block\System\Config\Form\Field\AuthorizeInstagramButton</frontend_model>
                </field>
                <field id="user_id" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User ID</label>
                    <frontend_model>MageSuite\ContentConstructorFrontend\Block\System\Config\Form\Field\Disabled</frontend_model>
                </field>
                <field id="access_token" translate="label" type="obscure" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                    <frontend_model>MageSuite\ContentConstructorFrontend\Block\System\Config\Form\Field\Disabled</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="consent_required" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Consent Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, user consent will be required to load Instagram component</comment>
                </field>
            </group>
            <group id="preload_image" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CMS Preload Image</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[When enabled, it preloads first image from Image Teaser, Hero or Mosaic component on CMS page - <a href="https://web.dev/optimize-lcp/#preload-important-resources" target="_blank" rel=”noopener”>Read more</a>]]>
                    </comment>
                </field>
            </group>
            <group id="swatch_preview_image" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Swatch Preview Image</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, selecting a swatch option (e.g. color) on category and search result pages updates the product tile preview image to the selected variation.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
